<html>
<head>
	<title>Asesor - @PC Mayorista</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>

	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}"></link>

</head>

<body>
	<div>
    <br><br>
		<input id="input" type="text"> <button id="rec">Hablar</button>
		<br><br><br>Asesor - @PC Mayorista:<br> <textarea id="response" cols="40" rows="20"></textarea>
	</div>
</body>
</html>
